body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 26px;
}
.catcontainer {
  display: flex;
  padding: 20px;
  height: 100%;
}

.category {
  margin-bottom: 10px;
}
.sub-categories {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  margin-left: 20px;
}
.sub-categories.open {
  display: block;
}

.categories {
  list-style: none;
  margin: 0;
  padding: 20px;
  margin-right: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  max-height: 100%;
  width: 25%;
}
.main-content {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  flex-grow: 3;
  height: 100%;
}
.shoppinglist {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  flex-grow: 1;
  margin-left: 10px;
  height: 100%;
}
.input-group {
  width: 75%;
}

.openshopbutton {
  margin-left: 50px;
}

/* .card {
  width: 20%;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
} */

.cardBorder {
  border-color: black;
  border-style: solid;
}

img {
  width: 260px;
  height: 240px;
  object-fit: scale-down;
}

.card-text {
  font-size: 17px;
  text-align: center;
}
.card-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.centreBtn {
  align-self: center; /* Center the button horizontally within the card */
}

.card {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack elements vertically */
  /* width: 20%; */
}

.card-body {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.btn-primary {
  align-self: center; /* Center the button horizontally within the card */
}

.card-modal {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack elements vertically */
  width: 50%;
}

.card-modal-body {
  flex-grow: 1; /* Allow the body to grow to fill the remaining space */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Space items evenly along the vertical axis */
}

#totalPriceContainer {
  text-align: center;
}

.input-group {
  margin-left: 50px;
  margin-bottom: 25px;
}
.card-modal-img {
  width: 200px;
  height: 240px;
  object-fit: scale-down;
}

#cartItemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btm-cart-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
